/* Header */
.header {
  background: #202020;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header .inner-logo a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.header .inner-logo a:hover {
  text-decoration: underline; /* hover thì hiện gạch */
}
/* End header */

/* Body */
.body .sider {
  width: 150px;
  background: #323232;
  color: #fff;
  height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  left: 0;
}

.body .main {
  margin: 15px;
  position: relative;
  left: 150px;
  width: calc(100% - 180px);
}
/* End body  */

/* sider  */
.sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sider .inner-menu ul li a {
  color: #fff;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px solid #515151;
  text-decoration: none;
}
.sider .inner-menu ul li a:hover {
  text-decoration: underline;
}
/* end sider  */

/* alert  */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}
[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  form {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* end alert  */

/* image preview  */
.image-preview-wrapper {
  position: relative;
  display: inline-block;
}
.image-preview {
  width: 150px;
  height: auto;
  margin-top: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}
.image-preview[src=""] {
  display: none;
}
.remove-image {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  display: none;
}
.remove-image:hover {
  background: #c82333;
}
/* end image preview  */

/* product detail */
.product-detail {
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.image-box {
  width: 100%;
  text-align: center;
}

.product-image {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  object-fit: cover;
}

.product-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.product-detail strong {
  color: #333;
}

.product-detail span {
  color: #555;
}
/* end product detail */

/* tree  */
.tree-container {
  border: 1px solid #ced4da;
  padding: 10px;
  background: #fff;
}

.tree-view {
  list-style: none;
  padding-left: 20px;
}

.item-content {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 2px;
}

.item-content:hover { background: #f5f5f5; }

/* Khi được chọn (Bôi đen) */
.tree-item.selected > .item-content {
  background-color: #007bff;
  color: #fff;
}

/* Mũi tên */
.toggle {
  display: inline-block;
  width: 20px;
  font-size: 10px;
  transition: transform 0.2s;
  color: #666;
}

/* Khi mở danh mục con, xoay mũi tên xuống */
.tree-item.expanded > .item-content .toggle {
  transform: rotate(90deg);
}

.toggle.empty { visibility: hidden; }

.child-container {
  margin-left: 5px;
}
/* end tree  */
