extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
  +alert-error(5000)

  .container.my-5
    .row.justify-content-center
      .col-md-8.col-lg-5
        .card.shadow.border-0.rounded-4
          .card-header.bg-white.text-center.pt-4.pb-2.border-bottom-0
            h3.fw-bold.text-primary 
              i.fa-solid.fa-shield-halved.me-2
              | Đổi mật khẩu
            p.text-muted.small Vui lòng xác nhận mật khẩu hiện tại để tiếp tục.

          .card-body.p-4
            form(action="/user/password/change" method="POST")
              
              //- Nhập mật khẩu cũ
              .mb-4
                label.form-label.fw-bold(for="oldPassword") Mật khẩu hiện tại
                .position-relative
                  input#oldPassword.form-control.form-control-lg.rounded-3(
                    type="password"
                    name="oldPassword"
                    required
                    placeholder="Nhập mật khẩu đang sử dụng..."
                  )
              
              //- Nút Tiếp tục
              .d-grid.mt-2
                button.btn.btn-primary.btn-lg.rounded-pill.fw-bold(type="submit") 
                  | Tiếp tục xác thực OTP
                  i.fa-solid.fa-arrow-right.ms-2

          .card-footer.bg-white.text-center.pb-4.border-top-0
            a.btn.btn-outline-secondary.rounded-pill.px-4(href="/user/info") 
              i.fa-solid.fa-arrow-left.me-2
              | Quay lại